
/flutter-desktop/Releases
flutter-desktop/Releases/assets.osx.json
flutter-desktop/Releases/com.ayamedica.desktop-osx-Portable.zip
flutter-desktop/Releases/com.ayamedica.desktop-osx-Setup.pkg
flutter-desktop/Releases/RELEASES-osx
flutter-desktop/Releases/releases.osx.json
